.list__item {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background: var(--card-item-bg-color);
    margin-bottom: 2px;
    position: relative;
    transition: background var(--transition__duration) ease-in-out;
}

.list__item::after {
    content: '';
    display: var(--display__line__title);
    width: 1px;
    height: 100%;
    background: var(--line__title-color);
    position: absolute;
    transition: background var(--transition__duration) ease-in-out;
}

.list__item__information {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list__item__information__name, .list__item__information__subname {
    font-weight: 600;
    display: inline-block;
}

.list__item__information__name {
    transition: color var(--transition__duration) ease-in-out;
}

.list__item__information__subname {
    color: #7A828F;
    font-weight: 600;
}

.list__item__img {
    width: 64px;
    height: 64px;
}

.list__item__img>img {
    width: 100%;
    height: 100%;
}