.nav {
    height: 340px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.nav::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.nav {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}