.nav {
    height: 290px;
    width: 100%;
    overflow-y: scroll;
}

.nav>ul {
    padding-right: 5px;
}

.nav::-webkit-scrollbar {
    width: 5px;
}

.nav::-webkit-scrollbar-thumb {
    background: #159642;
}

.nav::-webkit-scrollbar-track {
    background: #5A5B66;
}

.nav__lenght {
    text-align: center;
    color: red;
    font-weight: 500;
}