@font-face {
    font-family: "Baloo 2";
    src: local("Baloo2 Regular"), local("Baloo2-Regular") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Baloo 2";
    src: local("Baloo2 Medium"), local("Baloo2-Medium") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Baloo 2";
    src: local("Baloo2 SemiBold"), local("Baloo2-SemiBold") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Baloo 2";
    src: local("Baloo2 Bold"), local("Baloo2-Bold") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Baloo 2";
    src: local("Baloo2 ExtraBold"), local("Baloo2-ExtraBold") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}