.card_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    transition: transform .5s ease;
    padding: 10px;
}

.card_item_img_after {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: opacity .5s ease-in-out;
    width: 80%;
    transform: translate3d(-50%, -50%, 0);
}

.card_item:hover {
    cursor: pointer;
    transform: translateY(-.35em) scale(1.01);
}

.card_item_img_container:hover>.card_item_img_after {
    opacity: 1;
}

.card_item_img_container:hover>.card_item_img {
    opacity: 0.5;
}

.card_item_img_container {
    flex: 1;
    position: relative;
}

.card_item_img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transition: opacity .5s ease-in-out;
}

.card_item_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -6px;
}

.card_item_info_artist_name {
    margin-bottom: -6px;
    inline-size: max-content;
}

.card_item_info_name {
    display: inline-block;
}

@media screen and (max-width: 1000px) {
    .card_item_info_artist_name {
        font-size: 0.9em;
    }
    .card_item_info_name {
        font-size: 0.7em;
    }
}