.header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 8px;
    align-items: center;
}

.header__info, .header__identity, .header__identity__contact {
    display: flex;
    align-items: center;
}

.header__info__title {
    font-size: 48px;
    font-weight: bold;
    margin-left: 100px;
    background: linear-gradient(to left, #1DD05D 0%, #73bdd6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__info__title__animation {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
    animation: translate__to__X 1s ease-in-out forwards;
}

.header__info__logo__animation {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
    animation: translate__to__X 1s ease-in-out forwards;
}

.header__identity {
    border-radius: 10px;
    background: var(--card-bg-color);
    padding: 8px 10px;
    justify-content: space-between;
    transition: background var(--transition__duration) ease-in-out;
}

.header__identity__avatar {
    width: 60px;
    border-radius: 10px;
    height: 60px;
}

.header__identity__contact {
    flex-direction: column;
    padding: 0px 30px 0px 20px;
}

.header__identity__contact__name {
    transition: color var(--transition__duration) ease-in-out;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -10px;
}

.header__identity_contact__follower {
    font-size: 18px;
    color: #7A828F;
}

.header__identity__button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--card-item-bg-color);
    width: 39px;
    height: 40px;
    border-radius: 5px;
}

.header__identity__button__logoutImg, .header__info__theme__button__logo {
    filter: var(--filter__color);
    margin-left: 3px;
    transition: filter var(--transition__duration) ease-in-out;
}

.header__login {
    text-align-last: right;
    z-index: 10;
}

a {
    text-decoration: none;
}

.header__login__button__logo {
    margin-right: 5px;
}

.header__login__button {
    color: var(--text__color);
    font-size: 18px;
    background: var(--card-item-bg-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
    animation: translate__to__X 1s ease-in-out 3s forwards;
}

.header__login__button:focus {
    outline: none;
}

@media screen and (max-width: 1000px) {
    .header {
        grid-template-columns: 1fr;
    }
    .header__info__title {
        font-size: 24px;
        font-weight: bold;
        flex: 1;
        text-align: center;
        margin-left: 0px;
    }
    .header__info__logo {
        width: 44px;
        height: 44px;
    }
    .header__info {
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .header__info__theme__button {
        margin-right: 0px;
    }
    .header__info__theme__button__logo {
        width: 20px;
        height: 20px;
    }
}

@keyframes translate__to__X {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}