.header {
    display: grid;
    padding-top: 10px;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 10px;
    align-items: center;
}

.header__info, .header__identity, .header__identity__contact {
    display: flex;
    align-items: center;
}

.header__info__title {
    font-size: 48px;
    font-weight: bold;
    margin-left: 100px;
    background: linear-gradient(to left, #1DD05D 0%, #73bdd6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__identity {
    border-radius: 10px;
    background: var(--card-bg-color);
    padding: 8px 10px;
    justify-content: space-between;
}

.header__identity__avatar {
    width: 60px;
    border-radius: 10px;
    height: 60px;
}

.header__identity__contact {
    flex-direction: column;
    padding: 0px 30px 0px 20px;
}

.header__identity__contact__name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -10px;
}

.header__identity_contact__follower {
    font-size: 18px;
    color: #7A828F;
}

.header__identity__button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5A5B66;
    width: 39px;
    height: 40px;
    border-radius: 5px;
}

.header__identity__button__logoutImg {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(346deg) brightness(103%) contrast(101%);
    margin-left: 3px;
}

.header__login {
    text-align-last: right;
}

.header__login__button {
    color: white;
    font-size: 18px;
    background: #5A5B66;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
}

.header__login__button:focus {
    outline: none;
}

@media screen and (max-width: 1000px) {
    .header {
        grid-template-columns: 1fr;
    }
    .header__info__title {
        font-size: 24px;
        font-weight: bold;
        flex: 1;
        text-align: center;
        margin-left: 0px;
    }
    .header__info__logo {
        width: 44px;
        height: 44px;
    }
    .header__info {
        margin-bottom: 10px;
    }
}