* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --transition__duration: 1s;
    --display__line__title: block;
}

[data-theme="light"] {
    --main-bg-color: #FFFFFF;
    --card-bg-color: #d7e1ec3f;
    --card-item-bg-color: #eeeeee;
    --line__title-color: #000000;
    --border: none;
    --text__color: black;
    --button__color: rgba(26, 29, 41, 0.2);
    --filter__color: none;
    color: black;
}

[data-theme="dark"] {
    --main-bg-color: #16181D;
    --card-bg-color: #1A1D29;
    --card-item-bg-color: #22222C;
    --line__title-color: #FFFFFF;
    --filter__color: invert(100%) sepia(0%) saturate(1%) hue-rotate(346deg) brightness(103%) contrast(101%);
    --border: none;
    --text__color: white;
    --button__color: rgba(26, 29, 41, 1);
    color: white;
}

body {
    font-family: 'Baloo 2', cursive;
}

.root__class {
    min-height: 100vh;
    background: var(--main-bg-color);
    transition: background var(--transition__duration) ease-in-out;
}

button {
    border: none;
    transition: background .5s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: #34CB7D;
}

button:focus {
    outline: none;
}